<%= link_to "Home", root_path %>
<h1>About us</h1>
<p>Here at Veganshare we share and spread our favorite healthy nutritious and delicious meals and recipes as a community all while connecting with likeminded indivuals all over the world that also care about what they put into their body and are health conscious (: !<p>