<div class="jumbotron center">
	<h1>Vegan<3hare!</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> ! 
	
</p>
</div>